    {# templates/components/nav.html.twig #}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="imgenes/symfony_white_03.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top">
                            Symfony 
                        </a>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a> <!-- enlace a propia paxina-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tienda">Tienda</a><!-- enlace a tenda -->
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/precio">Precio</a><!-- enlace a paxina de compra -->
                            </li>
                             <li class="nav-item">
                                <a class="nav-link " href="/guia">Guia</a><!-- enlace a paxina de guia -->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
    </div>
    <!-- Este es la barra de navegación de todas las pajinas -->