<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>
<!-- Esta e a paxina de inicio ou presentación so conten os enlaces as outras paxinas que comporian a aplicaión -->
<!-- Seria una simulacion dunha tenda de cursos de formación -->
    <div class="container">

     <!-- nav  -->
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="imgenes/symfony_white_03.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top">
                            Symfony 
                        </a>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a> <!-- enlace a propia paxina-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tienda">Tienda</a><!-- enlace a tenda -->
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/precio">Precio</a><!-- enlace a paxina de compra -->
                            </li>
                             <li class="nav-item">
                                <a class="nav-link " href="/guia">Guia</a><!-- enlace a paxina de guia -->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
    </div>
     <!-- titulo -->
    <div class="container text-center m-5 fst-italic">
        <div class="h1 m-5">
            Explicacion de la tarea.
        </div>
        <div class="row m-5">
         <div class=" col-5 h3">
            -La tarea esta pensanda para probar los controller symfony desde los enlaces de los nav y la tienda. Sera donde encuentres los comentarios en el código.
        </div>
        </div>
        <div class="row m-5" >
        <div class=" col-6  bg-light">
           
        </div>
        <div class=" col-5 h3 bg-light">
            -En la pajina de la tienda, desde los cursos de programación se usa el controller con un slug que cambie los datos de los precios y 
            muestra en pantalla un cartel del descuento. 
        </div>
        </div>
        <div class="row m-5">
        <div class=" col-6 h3">
            -El resto de pajinas no lo hace, accede al precio de manera inicial.
        </div>
        </div>
        </div>
        <div class="row m-5" >
        <div class=" col-6  bg-light">
           
        </div>
        <div class=" col-5 h3 bg-light">
            -Me parecio buena idea un poco de explicación de como lo organice, para ahorrar tiempo en la corrección, y en la revisión del codigo.  
        </div>
        </div>
         <div class="h1 m-5">
           Un saludo. ;)
        </div>
    </div>

<!-- footer -->
    <div class="container m-5">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2023 Mosquera Rial, Alvaro</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
        </footer>
      </div>
      

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>