<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>
<!-- Esta e a paxina de inicio ou presentación so conten os enlaces as outras paxinas que comporian a aplicaión -->
<!-- Seria una simulacion dunha tenda de cursos de formación -->
    <div class="container">

     <!-- nav  -->
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="imgenes/symfony_white_03.svg" alt="" width="30" height="24"
                                class="d-inline-block align-text-top">
                            Symfony 
                        </a>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a> <!-- enlace a propia paxina-->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/tienda">Tienda</a><!-- enlace a tenda -->
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="/precio">Precio</a><!-- enlace a paxina de compra -->
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/guia">Guia</a><!-- enlace a paxina de guia -->
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
        </div>
    </div>
     <!-- titulo -->
    <div class="container text-center m-5 fst-italic">
        <div class="h1">
            Tus mejores cursos de fromación.
        </div>
    </div>

     <!-- carrusel -->
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="imgenes/carrusel7.webp" class="d-block w-100" alt="..." width="300px" height="500px">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Programación</h5>
                  <p>Cualquier lenguaje que necesites</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="imgenes/carrusel6.jpg" class="d-block w-100" alt="..." width="300px" height="500px">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Ejemplos practicos</h5>
                  <p>Crearas aplicaciones totalmente funcionales</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="imgenes/carrusel4.jpg" class="d-block w-100" alt="..." width="300px" height="500px">
                <div class="carousel-caption d-none d-md-block">
                  <h5>El harware tambien es importante</h5>
                  <p>la mejor formación en hardware del mercado.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
 <!-- articulo 1 -->
    <div class="container m-5">
        <div class="row">
            <div class="col-6">
                <img src="imgenes/descarga.jpeg" alt="" height="300px" >
            </div>
            <div class="col-6">

                <div class="h2 mt-5">
                    Empezaremos con los mejores cursos de harware donde podras aprender los fundamentos que mueven esta tegnologia, desde un simple pc hasta los mas complejos servidores.
                </div>

            </div>
        </div>
    </div>
    <!-- articulo 2 -->
    <div class="container m-5 bg-light">
        <div class="row">
            
            <div class="col-6 ">

                <div class="h2 mt-5">
                    Manejamos todo tipo de lenguajes de programación, desde los lenguajes de marcas hasta los nuevos leguajes y frameworks mas avanzados.
                </div>

            </div>
            <div class="col-6">
                <img src="imgenes/matrix-data-network-software-code-networking.jpg" alt="" height="300px"  width="600px">
            </div>
        </div>
    </div>
    <!-- articulo 3 -->
    <div class="container m-5">
        <div class="row">
            <div class="col-6">
                <img src="imgenes/images.jpeg" alt="" width="600px"  height="300px">
            </div>
            <div class="col-6">

                <div class="h2 mt-5">
                   Los precios mas competitivos del mercado. Podras marcar tu ritmo y avanzar segun tu dedicación y nivel.
                </div>

            </div>
        </div>
    </div>
<!-- footer -->
    <div class="container m-5">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2023 Mosquera Rial, Alvaro</p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
        </footer>
      </div>
      

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>